/**
	Especificaciones CSS para el juego del solitario 
*/

/* /*** !!!!!!!!!!!!!!!!!!! CODIGO !!!!!!!!!!!!!!!!!!!! 
	Completar los estilos que faltan y modificar al gusto del alumno
**/

/* Todos los contadores estarán ubicados en la parte inferior 
   derecha (position absolute) de los respectivos tapetes (position relative).
*/
.contador {
	position: absolute;
	bottom: 0px;
	right: 3px;
}

.tituloLogo {
	border: 3px #E65014;
	border-style: none none dashed none;
	width: 100%;
	height: auto;
}

/* Centrado del título y color */
h1#titulo {
	text-align: center;
	color: #E65014;
	padding-bottom: 0.5em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.logo {
	float: left;
	margin-left: 1em;
	height: 55px;
}

/* Centrado de los marcadores de tiempo y movimientos */
h2#marcadores {
	text-align: center;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 2em;
}

/* Mesa que contiene a los tapetes centrados */
div#mesa {
	text-align: center;
	margin: 20px;
}

/* Todos los tapetes con position relative para que
   los respectivos mazos (arrays de <img>) puedan
   posicionarse de manera absoluta respecto a ellos */
div.tapete {
	border-radius: 5%;
	display: inline-block;
	position: relative;
	margin: 8px;
}

/* Dimensiones y color de fondo para el tapete inicial */
div.tapete#inicial {
	width: 340px;
	height: 340px;
	background-color: lightgrey;
	border: 3px dashed rgb(145, 145, 145);
}

/* Dimensiones para todos los tapetes salvo el inicial */
div.tapete:not(#inicial) {
	height: 125px;
	width: 100px;
}

/* Color de fondo para el tapete de las cartas sobrantes */
div.tapete#sobrantes {
	background-color: #e19576;
	border: 3px dashed#d75826;
}

/* Color de fondo de los tapetes receptores */
div.tapete.receptor {
	background-color: lightgreen;
	border: 3px dashed rgb(98, 162, 98);
}

#reset {
	width: 90px;
	font-weight: bold;
	background-color: #E65014;
}